
.content {
  height: 670px;
}
.header{
  height: 100px;
}
.footer{
  height: 100px;
}
.nav {
  display: block;
  width: 100%;
}
.button-row{
  margin-bottom: 10px;
}
.sidebar {
  width: 100%;
  border-right: 2px solid rgb(29, 26, 26);
  background-image: url('sidebar-background.jpg');
}
.logo h1{
  margin: auto; 
  color: white;
  margin-bottom: 50px;

}

.sidebar :link:hover{
  display: block;
  background-color:#ffffff;

}
.sidebar :link {
  height: 50px;
  text-decoration: none;
  margin: auto;
  float: left;
  width: 100%;
}
.sidebar a{
  color: #ffffff;

}
.sidebar a:hover{
  color: black;
}
.footer {
  background-color: rgb(112, 108, 108);
}
.bt{
  background-color: black;
  margin: 20px;
}
.table {
  background-color:white;
}
.content{
  background-image: url(content-background.jpg);
}
.button-menu {
  margin-left: 10px;
}
.my_btn{
  float: right;
}
.pagination {
  margin-top: 20px;
}
.list-student{
  margin-bottom: 10px;
  background-color: #ffffff;
  color: blue;
}
